<table>
    <thead>
      <th>Title</th>
      <th>Property</th>
      <th>Description</th>
      <th>Price($)</th>
      <th>Status</th>
      <th>Date</th>
    </thead>
    <tbody>
      <tr *ngFor="let policy of tasks">
  
        <td>{{policy.data.title}}</td>
        <td>{{policy.data.property}}</td>
        <td>{{policy.data.desc}}</td>
        <td class="priceColor">{{policy.data.price}}</td>
        <td>{{policy.data.mode=='false'?'PENDING':policy.data.mode=='decline'?'DECLINED':'APPROVED'}}</td>
        <td>{{policy.data.date}}</td>
        <td>
            <i (click)="delete(policy.id)" class="material-icons cross" id="marginTop">delete_forever</i>
        </td>
      </tr>
    </tbody>
  </table>